/********************* Account Edit **********************/
.table {
    background-color: #f2f2f2;
    border-collapse: collapse;
    border: 2px solid #999999;
}
h1 {
    text-align: center;
}

td .btn {
    margin: 15px 0;
    background-color: #006bb3;
    color: #fff;
    float: right;
    
  }

