body{
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    min-height:100%;
    padding:0px;
    width:100%;
}
.navbar-custom{
    background-color:#0c2c56;
}
.navbar-custom a,ul,li{
    color: lightgray;
    font-size:18px;
    margin: 0px 0px;
    text-align: center;
    text-decoration: none;

}
.search-bar-wrapper{
    width:900px;
}
.search-bar{
    width:100%;
    height:35px;
    border-radius: 5px;
    padding: 5px;

}
.logo_wrapper{
    width:130px;
}
.logo{
    width:130px;
}	
footer {
    background-color: #0c2c56;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 2px;
    color: white;
}

footer li{
    padding-right: 10px;
    
    
}
footer a{
    text-decoration:none;
}
footer a:visited{
	color:white;
	text-decoration:none;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    align-text: right;
}

td {
    padding: 10px
}

h1.center {
    margin-left:40%; 
    margin-right:auto;
}
